In [22]:
import numpy as np 
import pandas as pd

In [23]:
df=pd.read_csv('train.csv')
df.head()

,Customer Id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,3JUN0VW6F043,34,Private Sector/Self Employed,Yes,1300000,6,0,Yes,No,No
1,VLHY2ABIR4QL,28,Private Sector/Self Employed,Yes,750000,7,0,Yes,No,No
2,6E3F7UNXYNFF,28,Private Sector/Self Employed,Yes,750000,6,0,Yes,No,No
3,JJ8R0ZRYWR31,32,Government Sector,Yes,800000,6,1,No,No,No
4,2WGFUEX6IEHM,34,Private Sector/Self Employed,Yes,700000,4,1,No,No,No

In [24]:
df.shape

(1590, 10)

In [25]:
df.AnnualIncome.mean()

928553.4591194969

In [27]:
df[df.EverTravelledAbroad=='Yes'].shape

(302, 10)

In [32]:
df.groupby('Employment Type').count()

,Customer Id,Age,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
Employment Type,,,,,,,,,
Government Sector,435,435,435,435,435,435,435,435,435
Private Sector/Self Employed,1155,1155,1155,1155,1155,1155,1155,1155,1155

In [34]:
(1155)/(1155+435) *100

72.64150943396226

In [44]:
df[(df['ChronicDiseases']==1) & (df['TravelInsurance']=="Yes")].count()

Customer Id            167
Age                    167
Employment Type        167
GraduateOrNot          167
AnnualIncome           167
FamilyMembers          167
ChronicDiseases        167
FrequentFlyer          167
EverTravelledAbroad    167
TravelInsurance        167
dtype: int64

In [48]:
df[df['ChronicDiseases']==1]['ChronicDiseases'].count()

445

In [46]:
167/445*100

37.52808988764045